body {
    font-family: sans-serif;
    /*background-color: #FEF4EA;*/
    /*width: 100%;*/
    /*min-height: 100vh;*/
    background-image: url('../Image_component/bg-login.jpg');
    background-size: cover;
    background-position: top-left;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
}
.btn.btn-default{
    background-color: #E04826;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}
.content{
    margin:20px;
    width: 50%;
    background-color: white;
    border: 1px solid #E04826;
    border-radius: 20px;
    line-height: 30px;
}
.form-simple{
    margin: 20px;
    width: 40%;
    word-wrap: break-word;
}
#message{
    margin: 20px;
    font-weight: bold;
    font-style: italic;
    color:#FF4701;
    font-size: 15px;
    word-wrap: break-word;
}
.title-page{
    margin: 20px auto;
    font-size: 35px;
    color: #E04826;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
}
.backtologin{
    font-size: 15px;
    margin: 20px;
    word-wrap: break-word;
}